.divPrimigenio {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
h2 {
  margin: 0;
  padding-right: 10px;
}
.iconito {
  padding-right: 10px;
}
.button {
  height: 100px;
  width: 100px;
}
.b1 {
  background-color: blueviolet;
}
.b2 {
  background-color: green;
}
.div1 {
  padding-bottom: 10px;
}
.b3 {
  background-color: red;
}
.b4 {
  background-color: goldenrod;
}
.block {
  display: block;
}
.none {
  display: none;
}
.down {
  transform: rotate(180deg);
  color: goldenrod;
}
